<mat-toolbar color = "primary">


    <mat-toolbar-row>

    <span>Welcome</span>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>
        
        
        <button mat-button (click)="perfil()">Mi perfil</button>
        <button mat-button (click)="ofertas()">Ver ofertas creadas</button>
        <button mat-button (click)="pagina()">Pagina principal</button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">

      <button mat-menu-item>
        <button mat-button (click)="login()">Log out</button>
     
      </button>
    </mat-menu>
     </mat-toolbar-row>

