<app-perfilbar></app-perfilbar>
<div class="main-body">
<div  class="main-div">
    <mat-card class="card">
        <mat-card-header>

            <div mat-card-avatar>
                <img src="../../assets/a.jpg" class="header-image">
            </div>

            <mat-card-title>{{empresa.name}}</mat-card-title>
            <mat-card-subtitle>{{empresa.email}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            
            <p>Username: {{empresa.name}}</p>
            <p>Blog Entries of {{empresa.name}}</p>
            <p>Localidad : {{empresa.localidad}}</p>
            <p> Direccion : {{empresa.direccion}}</p>

            <p> Provincia : {{empresa.PV}}</p>
            
        </mat-card-content>
        <button mat-raised-button class="button" color="primary">Edit</button>
    </mat-card>
    
    </div>
 


    
</div>