.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
    
  }
.s-div{
    position: relative; left: 33px;
}
.mat-raised-button{
    position: relative; left: 120px; bottom: 40px;
}
.example-card{
    background-color: lightblue;
}
.example-full-width{
    position: relative; bottom: 35px;
}
.conf{
    position: relative; right: 1px;
}
.pass{
    position: relative; right: 65px;
}
.premium-card {
    background-color: black;
    border:  5px solid;
    border-color: gold;
}
.t-div{
    position: relative; left: 5px;
}
.premium-full-width{
    position: relative; bottom: 35px;
}
