<app-registerbar></app-registerbar>


<div class="main-div">

<mat-card class="example-card">
        <mat-card-header >
          <div class="s-div">
          <mat-card-title>Register</mat-card-title>
          </div>
        </mat-card-header>
        <mat-card-content>
          <form class="example-form">
            <table class="example-form" cellspacing="50">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                  <input matInput placeholder="Email"  name="email" required>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                  <input matInput placeholder="Name"  name="name" required>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <div class = "dropdown">
                    <mat-label>Provincia</mat-label>
                    <mat-select >
                      <mat-option 
                      [value]="provincias"
                      *ngFor="let provincias of Provincias"

                      >
                        {{ provincias }}
                      </mat-option>
                    </mat-select>
                    </div>
                </td>
              </tr>
              <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Localidad"  name="localidad" required>
                        </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Direccion"  name="direccion" required>
                        </mat-form-field>
                </td>
              </tr>
              <tr>
              <td><mat-form-field class="example-full-width">
                <input matInput placeholder="Password" type="password" name="password" required>
              </mat-form-field></td>
            </tr></table>
          </form>

        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="register()" color="primary">Register</button>
        </mat-card-actions>
</mat-card>