.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcyan;
        
  }
.s-div{
    position: relative; left: 130px;
}
.mat-raised-button{
    position: relative; left: 170px; bottom: 10px;
}
.example-card{
    background-color: lightblue;
    
}
.example-full-width{
    width: 300px;
    
    
}

.example-card{
    height: auto;
    width: 400px;
}
.dropdown{
    height: 50px;
    width: auto;
    color:rgb(80, 80, 80) ;
    
}
