<app-offerbar></app-offerbar>
<div class="main-body" >
<div  class="main-div">
    <mat-card class="card" *ngFor="let oferta of Ofertas">
        <mat-card-header fxLayout = "row">

            <div mat-card-avatar>
                <img src="../../assets/a.jpg" class="header-image">
            </div>

            <mat-card-title> {{oferta.nombre}}       </mat-card-title>
            <mat-card-subtitle>  remuneracion:{{oferta.remuneracion}}     </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row" >
            <div fxFlex = "60">

            <p>Oferta de {{oferta.nombre}}</p>
            <p>Fecha inicio : {{oferta.fechaI}}   </p>
            <p> Fecha finalizacion :{{oferta.F}}         </p>
            <p> Horario : {{oferta.horario}}        </p>
        </div>
        <div fxLayout="column" fxFlex="60" fxLayoutAlign="space-around">
        <p>         </p>

        <div fxFlex="30">

        </div>
        </div>


</div>
            
        </mat-card-content>
        
    </mat-card>
    
    </div>
 


    
</div>