<app-offerbar></app-offerbar>
<div class="main-body" >
  


<div  class="main-div" fxLayout = "column" fxLayoutAlign="space-around center">
    
<button mat-raised-button (click) = "openDialog()"> Añadir oferta  </button>

    <mat-card class="card" *ngFor="let oferta of Ofertas">
        <mat-card-header >

            <div mat-card-avatar>
                <img src="../../assets/a.jpg" class="header-image">
            </div>

            <mat-card-title> {{oferta.nombre}}</mat-card-title>
            <mat-card-subtitle>  remuneracion:{{oferta.remuneracion}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row" >
            <div fxFlex = "60">

            <p>Oferta de {{oferta.nombre}}</p>
            <p>Fecha inicio : {{oferta.fechaI}}</p>
            <p> Fecha finalizacion :{{oferta.fechaF}}</p>
            <p> Horario : {{oferta.horario}}        </p>
        </div>
        <div fxLayout="column" fxFlex="60" fxLayoutAlign="space-around">
        <p>  Descripcion:      </p>
        <div class="desc">
                    <p>  {{oferta.descripcion}}  </p>

        </div>
        </div>
        <div fxLayout="column" fxFlex="60" fxLayoutAlign="space-around">
            
                <button mat-raised-button *ngFor="let Ciclo of CiclosOFerta"  >
                      
                          {{Ciclo[3].name}} 
                        </button>



        </div>

        <div fxFlex="10" fxLayoutAlign="space-around end">
            <button mat-raised-button color="primary" (click) = "Delete(oferta.id)">Delete</button>
            <button mat-raised-button color="primary">Edit</button>

        </div>
        



</div>
            
        </mat-card-content>
        
    </mat-card>
    
    </div>
 


    
</div>